#like-button {
    color: #888;
    font-family: "Heebo", sans-serif;
    background-color: transparent;
    border: 0.1em solid;
    border-radius: 1em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    margin: 1em 0;
}
#like-button:hover {
    color: indianred;
}
#like-button:active {
    transform: scale(0.95);
}
#like-button.selected {
    color: #FFF;
    background-color: indianred;
    border-color: indianred;
}
#like-button .heart-icon {
    display: inline-block;
    fill: currentColor;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.2em;
}
