.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.hidden {
    display: none;
}

.hoverImg {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.hoverImg * {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hoverImg img {
    max-width: 100%;
    vertical-align: top;
}

.hoverImg:hover img,
.hoverImg.hover img {
    -webkit-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: hsla(5, 76%, 62%, .8);

}

.js .cd-top--fade-out {
    opacity: .5;
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s;
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8);
}

/* hide default button and show contents only */
button {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

/*
f097 fa-bookmark-o
f02e fa-bookmark
*/
button.active::before {
    content: "\f02e";
    font-family: FontAwesome;
    color: red;
}

button::before {
    content: "\f097";
    font-family: FontAwesome;
}



/*
https://dusted.codes/making-font-awesome-awesome-using-icons-without-i-tags
*/